<<<<<<< HEAD
/*Free Jaffe CSS stylesheet!*/

img{
	height:400px;
	width:400px;
}

h1{
	font-family:Gill Sans;
	color:0033FF;
}

p{
	font-family:Gill Sans;
	color:#00FF00;
}

=======
stylsheet.css
>>>>>>> 03c4f2a0d02bab78782353b387a1912c050d9265
