<<<<<<< HEAD
/*Free Jaffe CSS stylesheet!*/
/*this first one won't work for some reason so it's a placeholder*/
body {
	background-color:#FFFFFF;
}

#welcome {
	position: relative;
	top: -5px;
	font-family: "Futura";
	color:#00FF44;
	font-size: 90px;
	text-align: center;
}

.headers {
	position: relative;
	font-family: Futura;
	font-size: 24px;
	font-weight: bold;
	color: #909090;
	float: top;
	text-align: center;
}

.facts {
	font-family: Futura;
	color:#909090;
	text-align: center;
}

img {
	height: 191px;
	width: 173px;
	border: 2px solid #00FF44;
	position: center;
}

hr {
	 color: #00FF44;
	 background: #00FF44;
	 width: 90%;
	 height: 20px;
	 
}
=======
stylsheet.css
>>>>>>> 03c4f2a0d02bab78782353b387a1912c050d9265
