<<<<<<< HEAD
/*Free Jaffe CSS stylesheet!*/

/*PLACEHOLDER FOR SOME REASON*/
body {
	background-color:#000000;
}
/*PLACEHOLDER FOR SOME REASON*/

body {
	background-color:#FFFFFF;
	font-family: Futura, Tahoma, sans-serif;
	font-size: 18px;
	color:#707070;
	width: 1000px;
	margin: 0px auto;
}

#arrival {
	position: relative;
	top: -5px;
	font-family: "Futura";
	font-size: 90px;
	font-weight: normal;
	color:#00FF44;
	text-align: center;
	margin-bottom: 40px;
}

#questions {
	position: relative;
	text-transform: uppercase;
	font-family: "Gill Sans", Futura, sans-serif;;
	font-size: 24px;
	font-weight: normal;
	letter-spacing: 3px;
	color: #707070;
	float: top;
	text-align: center;
	border-top: 1px solid #00FF44;
	border-bottom: 1px solid #00FF44;
	padding-top: 20px;
	padding-bottom: 20px;
}

#bio {
	margin-bottom: 25px;
	padding-bottom: 10px;
	letter-spacing: 0.5px;
	line-height: 25px;
}

#desc {
	padding-top: 20px;
}

#links {
	margin-top: 5px;
	margin-bottom: 5px;
	padding-top: 5px;
	padding-bottom: 5px;
	clear: both;
	text-align: center;
	text-transform: uppercase;
	border-top: 2px solid #00FF44;
	font-size: 70px;
	font-family: Futura;
	letter-spacing: 6px;
}

ul {
	list-style-type: none;
	padding: 0px;
	margin: 0px;
}

li {
	display: inline;
	padding: 0px;
	margin: 0px;
}

#selfie {
	height: 133px;
	width: 122px;
	border: 2px solid #00FF44;
	position: relative;
	float: left;
	margin-right: 25px;
	margin-top: 5px;
}

a {
	text-decoration: none;
	color: #707070
}

a:hover {
	color: #0066FF;
	cursor: pointer;
}

=======
stylsheet.css
>>>>>>> 03c4f2a0d02bab78782353b387a1912c050d9265
